@import 'bootstrap.scss';

/* Reset and base styles */
* {
	box-sizing: border-box;
}
body {
	background-color: #F3FBFF;
	font-family: 'Lato', sans-serif;
}

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

.container-fluid, .row {
	margin: 0;
	padding: 0;
	width: 100%;
}


h1, h2, h3, h4, h5, h6, p, ul, ol, li {
	margin: 0;
	padding: 0;
}
ul, ol {
	margin: 2px 10px;
	list-style-position: inside;
}
img {
	display: block;
	max-width: 100%;
	height: auto;
}

/* Navbar customization */
.navbar.bg-dark {
	background-color: #9AC1D9;
}

/* Flexbox centering utilities */
.center-vertically, .center-vertically-text {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

/* Specific styles for cover image container */
.cover-image-container {
	position: relative;
	width: 100%;
	height: auto;
	overflow: hidden;
}

.cover-image-container img {
	width: 100%;
	height: auto;
	object-fit: cover;
}

.cover-image-container .overlay-text {
	position: absolute;
	top: 50%;  /* Center vertically */
	left: 50%; /* Center horizontally */
	transform: translate(-50%, -50%); /* Align the center of the element with the center of the container */
	color: white;
	font-size: 4vw; /* Responsive font size based on the width of the viewport */
	text-align: center; /* Center the text */
	z-index: 10;
}

@media (max-width: 768px) {
	.cover-image-container .overlay-text {
		font-size: 5vw; /* Slightly larger font size for better readability on small devices */
	}
}

.cover-image-container::after {
	content: "";  /* Necessary for the pseudo-element to work */
	position: absolute; /* Position relative to the container */
	top: 0;  /* Cover the entire container */
	left: 0;
	right: 0;
	bottom: 0;
	background-image: linear-gradient(to right,
					rgba(255, 255, 255, 0.9) 0%,
					rgba(245, 245, 245, 0.8) 25%,
					rgba(128, 128, 128, 0.5) 50%,
					rgba(45, 45, 45, 0.2) 75%,
					rgba(0, 0, 0, 0.1) 100%);
	pointer-events: none; /* Ensures the image underneath is still interactable */
}



.cover-image-container .fp-image {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.cover-image-container .fp-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* Overlay with opacity specifically for the cover image */
.cover-image-container .fp-image::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5); /* Black with 50% opacity */
	pointer-events: none; /* Ensures the image underneath is still interactable */
}

/* Styles for image containers */
.col-image-container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
}
.fp-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}

/* Additional components styling */
.profile-img, .info-box img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	object-fit: cover;
}
.search-bar {
	display: flex;
	align-items: center;
	background-color: #f1f1f1;
	border-radius: 5px;
}
.search-bar input {
	border: none;
	background: none;
	margin-left: 10px;
	padding: 10px;
	outline: none;
}
.burger-menu {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	cursor: pointer;
}
.burger-menu i {
	font-size: 40px;
}
.menu-content {
	top: 100%;
	left: 0;
	right: 0;
	z-index: 1000;
	background-color: white;
	border: 1px solid #ddd;
}
.menu-content a {
	display: block;
	padding: 5px;
	color: black;
	text-decoration: none;
}
.menu-content a:hover {
	background-color: #f8f8f8;
}
.vertical-links a {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	color: black;
	text-decoration: none;
}
.vertical-links a svg {
	margin-right: 8px;
}
.vertical-links a:hover {
	text-decoration: underline;
}
.info-box, .feed-item {
	border: 1px solid #ddd;
	padding: 15px;
	margin-bottom: 15px;
}
.top-centered-button {
	margin-top: 10px;
}
.light-green-btn {
	background-color: #328632;
	color: white;
	border-color: #328632FF;
}
.light-green-btn:hover {
	background-color: #7ccd7c;
	border-color: #7ccd7c;
}
