/* Import Bootstrap Styles */
@import 'bootstrap.scss';

/* Reset and Base Styles */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	color: #C47F2A;
}

html, body {
	width: 100%;
	height: 100%;
	background-color: #F2FFFF;
	font-family: 'Lato', sans-serif;
	color: #3F5B63;
}

ul, ol {
	margin: 2px 10px;
	list-style-position: inside;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

body {
	margin: 0;
	padding: 0;
}

header {
	margin: 0; // Ensures header doesn't push content down
}

.header, .container-fluid {
	margin: 0;
	padding: 0;  /* Ensures there's no padding or margin that could push content around */
}

.container-fluid {
	margin: 0;
	padding: 0; // Removes padding that might affect alignment
}

/* Navbar Customization */
.navbar {
	position: absolute;
	top: 10px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1020;
	background-color: #3F5B63;
	width: 100%;
	margin: 0;
	box-shadow: 0 2px 5px rgba(0,0,0,0.2); // Shadow
	padding: 10px 0;

	.nav-link {
		color: #FFFFFF;
		transition: color 0.3s ease;

		&:hover {
			color: #FFFFFF;
		}

		@media (max-width: 768px) {
			max-width: 100%;
			border-radius: 0;
			background-color: #3F5B63;
		}
	}

	.navbar-brand img {
		height: 50px;
		width: auto;
	}

	/* Customizing Navbar Toggler Icon */
	.navbar-toggler {
		border: none;
		outline: none;
		background: none;

		.navbar-toggler-icon {
			background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
		}

		&:focus, &:active {
			outline: none;
			box-shadow: none;
		}

		@media (max-width: 768px) {
			.navbar-toggler-icon {
				background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
			}
		}
	}
}

.fixed-top {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1020;
}

@media (max-width: 768px) {
	.navbar-nav {
		padding-left: 15px; /* Adjust this value as needed */
	}
}

//Navbar scroll fix
.scroll-margin {
	scroll-margin-top: 80px; /* Adjust this value according to the height of your navbar */
}

/* Smooth scrolling */
html {
	scroll-behavior: smooth;
}

/* Flexbox Centering Utilities */
.center-vertically, .center-vertically-text {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Cover Image Container */
.cover-image-container {
	position: relative;
	width: 100%;
	overflow: hidden;
	padding: 0;
	max-height: 500px;

	/* Hide on large screens and up */
	@media (min-width: 992px) {
      display: none;
    }

	img {
		width: 100%;
		object-fit: cover;
		max-height: 500px;
	}

	.overlay-text-cover, .subtext {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		width: 100%;
		text-align: center;
		color: #F2FFFF;
		z-index: 10;
	}

	.overlay-text-cover {
		top: 50%;
		font-size: calc(20px + 2vw);
	}

	.subtext {
		top: 60%;
		font-size: calc(16px + 1vw);
	}

	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(64, 64, 64, 0.5);
		pointer-events: none;
	}

	@media (max-width: 768px) {
		.overlay-text {
			font-size: 24px;
		}

		.subtext {
			margin-top: 10px;
			font-size: 20px;
		}
	}
}

/* Additional Styles for Image Containers */
.col-image-container, .fp-image {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	width: 100%;
	height: 100%;

	img {
		object-fit: cover;
	}
}

//Footer
.footer-container {
	background-color: #3F5B63;
	h1, h2, h3, h4, h5, h6 {
		color: #F2FFFF;
	}
}

//navbar sticky
.sticky {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000; // Ensure it's on top of other content
}

//Container coloring
.container-third {
	background-color: #3F5B63;
	color: #F2FFFF;
}

//Nyheds carousel
.carousel-image-container,
.card-img-container {
	position: relative;
	width: 100%;
	max-height: 400px;
	overflow: hidden;
	border-radius: 15px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	cursor: pointer;
}

.carousel-image-container img,
.card-img-container img {
	width: 100%;
	height: auto;
	max-height: 400px;
	object-fit: cover;
}

@media (max-width: 768px) {
	.carousel-image-container,
	.card-img-container {
		max-height: 200px;
	}
	.carousel-image-container img,
	.card-img-container img {
		max-height: 200px;
	}
}

// Carousel Cards Style
.overlay-text {
	position: absolute;
	bottom: 10px;
	left: 10px;
	color: white;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 5px 10px;
	border-radius: 5px;
	font-size: 1.25rem;
}

.card {
	height: 100%;
	border-radius: 15px;
	overflow: hidden;
	cursor: pointer;
	transition: transform 0.2s;
}

.card:hover {
	transform: scale(1.05);
}

/* Customize MODAL news carousel*/
.modal-backdrop.show {
	opacity: 0.5;
	background-color: rgba(0, 0, 0, 0.5) !important;
}

.modal-content {
	background-color: #F2FFFF;
}

.modal-header,
.modal-footer {
	background-color: #3F5B63;
	color: #F2FFFF;
}

.modal-header .modal-title {
	color: #C47F2A;
}

.modal-body {
	padding: 20px;
}


//Kontakt felt

.contact-info > div {
	flex: 1;
	padding: 0 10px;
}

@media (max-width: 768px) {
	.contact-info {
		flex-direction: column;
	}

	.contact-info > div {
		padding: 10px 0;
		text-align: center;
	}
}

//ai-cards

.ai-card {
	margin-top: 20px;
	border: 1px solid #3F5B63;
	box-shadow: 0 2px 5px rgba(0,0,0,0.2);
	height: 300px;
	background-color: #f2ffff;
}

.ai-card h4 {
	padding: 10px;
}


.ai-card .card-img-top {
	height: 120px;
	object-fit: cover;
}

.ai-card .card-body {
	overflow: hidden;
}

.ai-card .card-footer {
	background-color: #3F5B63;
}

.ai-card .card-footer, .ai-card .card-footer small, .ai-card .card-footer small b {
	color: #f2ffff !important;
}

.ai-card .card-footer small {
	font-weight: normal;
}

.ai-card .card-footer small b {
	font-weight: bold;
}



.modal-lg {
	@media (max-width: 992px) {
		max-width: 100%;
		width: 100%;
	}
}

.modal-header .close {
	margin-top: -20px;
	margin-right: -20px;
	font-size: 30px;
}

//Modal luk BTN
.custom-luk-button {
	background-color: #C47F2A;
	color: #F2FFFF;
	border-color: #C47F2A;
}

.custom-luk-button:hover {
	background-color: #3F5B63;
	color: #C47F2A;
}

//From sedn BTN
.custom-send-button {
	background-color: #C47F2A;
	color: #F2FFFF;
	border-color: #C47F2A;
}

.custom-send-button:hover {
	background-color: #3F5B63;
	color: #C47F2A;
}

//Navbar width fix

body, .container-fluid {
	padding-right: 0;
	margin-right: 0;
}

html, body {
	width: 100%;
	overflow-x: hidden;
}

//Search BTN
.custom-search-button {
	background-color: #C47F2A;
	color: #F2FFFF;
	border-color: #C47F2A;
}

.custom-search-button:hover {
	background-color: #3F5B63;
	color: #C47F2A;
}